.portfolio-section {
    padding: 94px 15px;
}
.portfolio-header {
    border-bottom: var(--portfolio-header-line);
}
.main-list {
    display: flex;
    flex-wrap: wrap;

    & .main-list-link {
        display: block;
        transition-property: border-shadow;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.overlay {
    position: relative;
    overflow: hidden;
}
.portfolio-overlay-text {
    margin: 0;
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.556;
    color: var(--secondary-text-color);
    background-color: var(--overlay-bg-color);
    transform: translateY(100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    .main-list .main-list-link & {
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .main-list .main-list-link:hover & ,
    .main-list .main-list-link:focus & {
        transform: translateY(0%);
    }
}

.portfolio-container {
    padding: 20px 24px;
}
 
.main-list .main-list-item {
    width: 370px;
    border: var(--portfolio-border-item);
}

.main-list-item {
    .main-list &:not(:nth-child(3n)) {
        margin-right: 30px;
    }
    .main-list &:not(:nth-last-child(-n + 3)) {
        margin-bottom: 30px;
    }
}
    


.main-list-title {
    margin: 0;
    margin-bottom: 4px;
    color: var(--web-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: var(--letter-spacing-priority);
}
.main-list-theam {
    margin: 0;
    color: var(--tel-mail-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
}
.main-list-link {
    .main-list &:hover,
    .main-list &:focus {
       box-shadow: 0px 1px 1px 
       rgba(0, 0, 0, 0.12), 0px 4px 4px 
       rgba(0, 0, 0, 0.06), 1px 4px 6px 
       rgba(0, 0, 0, 0.16);
   }
}
 