.team {
    background-color: var(--secondary-background-color);
}
.title-team {
    margin-bottom: 50px;
}
.team-item {
    min-width: 270px;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    .team-list &:not(:last-child) {
        margin-right: 30px;
    }
  }

.team-list {
    display:flex;
}

.team-section {
    text-align: center;
    padding: 30px 10px;
}
.team-name {
    color: var(--web-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 10px;
}
.team-work {
    color: var(--tel-mail-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    margin: 0;
    margin-bottom: 16px;
}
.social-list {
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-item {
    &:not(:last-child) {
        margin-right: 10px;
    }
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: var(--transition-bg) ;
    
    &:hover,
    &:focus {
        background-color: var(--focus-text-color);
        fill: var(--secondary-text-color);
      }
}
.team-social-link {
    fill: var(--primery-icons-color);
}
.social-icons {
    width: 20px;
    height: 20px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    background-color: var(--focus-text-color);
    fill: var(--secondary-text-color);
    }
}

