.uniqum-list-item {
    display: flex;
    flex-wrap: wrap;
}
.uniqum-list-item .item-uniq {
    width: 270px;
}
.item-uniq {
    .uniqum-list-item &:not(:last-child) {
        margin-right: 30px;
    }
}

.uniqum-title {
    color: var(--web-text-color);
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 10px;
}
.uniqum-list {
    color: var(--tel-mail-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    margin: 0;
}
.section-uniq {
    padding-bottom: 0;
}
.uniq-charakt {
    height: 120px;
    margin-bottom: 30px;
    background-color:var(--secondary-background-color);

    display: flex;
    justify-content: center;
    align-items: center;
}
.charakt-img {
    width: 70px;
    height: 70px;
}