.client-title {
    margin-bottom: 50px;
    font-size: 28px;
    line-height: 1.179;
}
.client-list {
    display: flex;
    flex-wrap: wrap;
}
.client-link {
  width: 210px;
  height: 90px;

  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--primery-icons-color);
  border: 1px solid var(--primery-icons-color);
  border-radius: 4px;
  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--focus-text-color);
    border-color: var(--focus-text-color);
  }
}
.client-item {
  &:not(:last-child) {
    margin-right: 30px;
}
}

.icon-logo-1 {
    width: 44px;
    height: 49px;
  }
  
  .icon-logo-2 {
    width: 40px;
    height: 52px;
  }
  
  .icon-logo-3 {
    width: 41px;
    height: 43px;
  }
  
  .icon-logo-4 {
    width: 80px;
    height: 42px;
  }
  
  .icon-logo-5 {
    width: 59px;
    height: 47px;
  }
  
  .icon-logo-6 {
    width: 88px;
    height: 45px;
  }

  @media screen and (max-width: 479px) {
    .client-link {
      width: 100%;
    }
  
    .client-list {
      display: block;
    }
  
    .client-item {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
  
  @media screen and (min-width: 480px) and (max-width: 767px) {
    .client-item {
      &:nth-last-child(2n) {
        margin-right: 30px;
      }
  
      &:nth-last-child(n + 3) {
        margin-bottom: 30px;
      }
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .client-link {
      width: 226px;
    }
  
    .client-item {
      &:not(:nth-child(3n)) {
        margin-right: 30px;
      }
  
      &:nth-last-child(n + 4) {
        margin-bottom: 30px;
      }
    }
  }
  
  @media screen and (min-width: 1200px) {
    .client-link {
      width: 170px;
      height: 90px;
    }
  
    .client-title {
      font-size: 36px;
      line-height: 1.167;
    }
  
    .client-item {
      margin-bottom: 0;
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }