// .header-contacts {
//     display: flex;
//     margin-left: auto;
// }
// .item {
//     .header-contacts &:not(:last-child) {
//         margin-right: 50px;
//     }
// }
// .header-contacts-link {
//     display: flex;
//     align-items: center;
//     color: var(--tel-mail-text-color);
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     padding-top: 32px;
//     padding-bottom: 32px;
//     letter-spacing: 0.02em;
//     transition: var(--transition);

//     &:hover,
//     &:focus {
//     color: var(--focus-text-color);
//     }
// }

// .contacts-icon {
//     margin-right: 10px;
//     fill: currentColor;
// }
// .envelope {
//     width: 16px;
//     height: 12px;
// }
// .smartphone {
//     width: 10px;
//     height: 16px;
// }
.header {
    position: relative;
  }
  
  @media screen and (max-width: 767px) {
    .navigation {
      display: flex;
      justify-content: space-between;
    }
    .nav-web {
      display: none;
    }
  
    .header-contacts {
      display: none;
    }
    .mobile-menu {
      display: inline-flex;
      margin: 0;
      padding: 10px 0;
      border: none;
      background-color: transparent;
    }
  
    .mobile-menu-burger {
      width: 40px;
      height: 40px;
    }
  
    .mobile-contacts-item {
      text-align: center;
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  
    .burger-icon {
      .mobile-menu & {
        display: block;
      }
      .mobile-menu.is-open & {
        display: none;
      }
    }
  
    .burger-close-icon {
      .mobile-menu & {
        display: none;
      }
      .mobile-menu.is-open & {
        display: block;
      }
    }
  
    .menu-container {
      display: none;
  
      position: absolute;
      top: 100%;
      left: 0;
      padding: 60px 15px;
      width: 100%;
      background-color: var(--primary-white-color);
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
        0px 1px 3px rgba(0, 0, 0, 0.16);
  
      z-index: 2;
      &.is-open {
        display: block;
      }
    }
    .menu-burger-item {
      text-align: center;
  
      & .mobile-current::after {
        content: '';
        display: block;
        width: 100%;
        height: 4px;
        margin-top: 8px;
  
        background-color: var(--accent-color);
        border-radius: 2px;
      }
  
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
  
    .menu-burger-list {
      display: flex;
      flex-direction: column;
      align-items: center;
  
      &:not(:last-child) {
        margin-bottom: 60px;
      }
    }
  
    .menu-burger-link {
      font-weight: 500;
      font-size: 18px;
      line-height: 1.167;
      letter-spacing: 0.02em;
  
      color: var(--title-text-color);
  
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
      &:hover,
      &:focus {
        color: var(--accent-color);
      }
    }
  
    .contacts-icon {
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  
    .header-contacts-link {
      font-weight: 500;
      font-size: 18px;
      line-height: 1.167;
      letter-spacing: 0.02em;
  
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
      &:hover,
      &:focus {
        color: var(--accent-color);
  
        & .contacts-icon {
          fill: var(--accent-color);
        }
      }
    }
  
    .envelope {
      width: 16px;
      height: 11px;
    }
  
    .smartphone {
      width: 10px;
      height: 15px;
    }
  }
  
  .mobile-current {
    color: var(--accent-color);
  }
  
  @media screen and (min-width: 768px) {
    .mobile-menu {
      display: none;
    }
    .menu-container {
      display: none;
    }
  
    .navigation {
      display: flex;
      align-items: center;
    }
  
    .menu-container {
      display: flex;
      align-items: center;
    }
  
    .nav-web {
      display: flex;
      margin-left: 88px;
  
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
  
      & .current::after {
        content: '';
        display: block;
        width: 100%;
        height: 4px;
  
        background-color: var(--accent-color);
        border-radius: 2px;
  
        position: absolute;
        left: 0px;
        bottom: 0px;
      }
    }
  .social-nav {
    display: flex;
  
    &.social-list:not(:last-child) {
      margin-right: 20px;
  }
}
    .header-contacts {
      margin-left: auto;
    }
  
    .header-contacts-link {
      display: flex;
      align-items: center;
  
      padding-bottom: 5px;
      padding-top: 5px;
  
      color: var(--primary-text-color);
      text-decoration: none;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.167;
      letter-spacing: 0.02em;
  
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
      &:hover,
      &:focus {
        color: var(--accent-color);
      }
    }
  
    .contacts-icon {
      margin-right: 10px;
      fill: currentColor;
    }
    .envelope {
      width: 14px;
      height: 10px;
    }
  
    .smartphone {
      width: 10px;
      height: 14px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .nav-web {
      margin-left: 93px;
    }
  
    .header-contacts {
      display: flex;
    }
  
    .header-contacts-link {
      padding-top: 32px;
      padding-bottom: 32px;
  
      font-size: 14px;
      line-height: 1.142;
      letter-spacing: 0.02em;
    }
    .envelope {
      width: 16px;
      height: 12px;
    }
  
    .smartphone {
      width: 10px;
      height: 16px;
    }
  }
