.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  letter-spacing: 0.06em;
  font-size: 26px;
  line-height: 1.615;
  text-transform: uppercase;

  margin-bottom: 30px;
  max-width: 360px;

  margin-left: auto;
  margin-right: auto;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 480px;
  margin-right: auto;
  margin-left: auto;
  background-size: cover;
  text-align: center;

  background-image: linear-gradient(
      to right,
      var(--hero-overlay),
      var(--hero-overlay)
    ),
      url('../photo/mobile/header-mobile/header-mobile.png');
    background-color: #c4c4c4;
  }
  
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to right,
          var(--hero-overlay),
          var(--hero-overlay)
        ),
        url('../photo/mobile/header-mobile/header-mobile@2x.png');
    }
  }
  
  @media screen and (min-width: 768px) {
    .hero {
      max-width: 768px;
      background-color: #c4c4c4;
  
      background-image: linear-gradient(
          to right,
          var(--hero-overlay),
          var(--hero-overlay)
        ),
        url('../photo/tablet/header-tablet/header-tablet.png');
    }
  
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
      .hero {
        background-image: linear-gradient(
            to right,
            var(--hero-overlay),
            var(--hero-overlay)
          ),
          url('../photo/tablet/header-tablet/header-tablet@2x.png');
      }
    }
  }
  @media screen and (min-width: 1200px) {
    .hero-title {
      font-size: 44px;
      line-height: 1.364;
      max-width: 696px;
      max-height: 120px;
    }
  
    .hero {
      padding: 200px 0px;
      max-width: 100%;
  
      background-image: linear-gradient(
          to right,
          var(--hero-overlay),
          var(--hero-overlay)
        ),
        url('../photo/dekstop/header-dekstop/hero-dekstop.png');
          background-color: #c4c4c4;
    }

   @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
         screen and (min-resolution: 192dpi) and (min-width: 1200px),
         screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .hero {
      background-image: linear-gradient(
          to right,
          var(--hero-overlay),
          var(--hero-overlay)
        ),
        url('../photo/dekstop/header-dekstop/hero-dekstop@2x.png');
      }
    }
  }
  