.nav-web {
    display: flex;
    margin-left: 93px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .nav-link {
    .nav-list & {
        display: block;
        padding-bottom: 32px;
        padding-top: 32px;
    
        color: var(--web-text-color);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        transition: var(--transition)
    }
    &:hover,
    &:focus {
        color:var(--focus-text-color);
    } 
  }
  .current {
    .nav-web .nav-link & {
        color: var(--focus-text-color);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.17;
        letter-spacing: 0.02em;
    }
    .nav-web &::after {
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        position: absolute;
        left: 0px;
        bottom: 0px;
        background-color: var(--focus-text-color);
    }
  }
  .nav-list {
    .nav-web & {
        position: relative;
    }
    .nav-web &:not(:last-child) {
        margin-right: 50px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .item {
      .uniqum-list-item & {
        &:not(:last-child) {
          margin-bottom: 30px;
        }
      }
  
      .team-list > & {
        &:not(:last-child) {
          margin-bottom: 30px;
        }
      }
  
      .portfolio-filter & {
        &:nth-child(-n + 3) {
          margin-bottom: 15px;
        }
      }
  
      .main-list & {
        &:not(:last-child) {
          margin-bottom: 30px;
        }
      }
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .item {
      .uniqum-list-item & {
        width: 354px;
  
        &:nth-last-child(2n) {
          margin-right: 30px;
        }
  
        &:not(:nth-last-child(-n + 2)) {
          margin-bottom: 30px;
        }
      }
  
      .team-list > & {
        &:nth-last-child(2n) {
          margin-right: 30px;
        }
  
        &:not(:nth-last-child(-n + 2)) {
          margin-bottom: 30px;
        }
      }
  
      .main-list & {
        width: 354px;
  
        &:not(:nth-child(2n)) {
          margin-right: 30px;
        }
        &:not(:last-child) {
          margin-bottom: 30px;
        }
      }
    }
  }
  
  @media screen and (min-width: 1200px) {
    .item {
      .mobile-contacts-list & {
        &:not(:last-child) {
          margin-right: 50px;
        }
      }
  
      .uniqum-list-item & {
        width: 270px;
  
        &:not(:last-child) {
          margin-right: 30px;
        }
      }
  
      .team-list & {
        width: 270px;
        height: 428px;
      }
  
      .main-list & {
        width: 370px;
  
        &:not(:nth-child(3n)) {
          margin-right: 30px;
        }
  
        &:not(:nth-last-child(-n + 3)) {
          margin-bottom: 30px;
        }
      }
    }
  }