.navigation{
    display: flex;
    align-items: center;
}
.logo-studio {
    color: var(--over-text-color);
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.167;
    padding-top: 16px;
    padding-bottom: 16px;
    
    @media screen and (min-width: 768px) {
        padding-top: 26px;
        padding-bottom: 26px;
      }
    
      @media screen and (min-width: 1200px) {
        font-size: 26px;
        line-height: 1.192;
      }
      
    &:focus{
        color: var(--focus-text-color); 
    }
    .footer & {
        margin-bottom: 20px;
        display: inline-block;
        margin-right: 0px;
        color: var(--secondary-text-color);
        }
  }

.logo-web-color {
    color: var(--focus-text-color);
}