/* container_section */
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

    .header & {
        @media screen and (min-width: 768px) {
          display: flex;
          align-items: center;
        }
      }
    
      @media screen and (min-width: 480px) {
        width: 480px;
        margin: 0 auto;
      }
    
      @media screen and (min-width: 768px) {
        width: 768px;
    
        .footer & {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
        }
      }
    
      @media screen and (min-width: 1200px) {
        width: 1200px;
    
        .footer & {
          display: flex;
          align-items: baseline;
        }
      }
    }