:root {
    --web-text-color:#212121;
    --focus-text-color: #2196F3;
    --tel-mail-text-color:#757575;
    --secondary-text-color:#ffffff;
    --over-text-color: #000000;
    --color-text-footer:  rgba(255, 255, 255, 0.6);
    --color-hero-button: #188CE8;
    --color-bag-hero: #2F303A;
    --secondary-background-color: #f5f4fa;
    --background-hero: #c4c4c4;
    --letter-spacing-priority: 0.06em;
    --letter-spacing:  0.03em;
    --portfolio-header-line: 1px solid #ececec;
    --portfolio-border-item: 1px solid #eeeeee;
    --hero-overlay: rgba(47, 48, 58, 0.4);
    --primery-icons-color: #AFB1B8;
    --footer-social-bgc: rgba(255, 255, 255, 0.1);
    --transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --transition-bg: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    --color-text-work:  rgba(47, 48, 58, 0.8);
    --backdrop: rgba(0, 0, 0, 0.2);
    --overlay-bg-color:  rgba(33, 150, 243, 0.9);
    --box-shaden-modal: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
}