:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --logo-color: #000000;
    --primary-white-color: #ffffff;
    --second-bgc: #f5f4fa;
    --prime-bgc: #2f303a;
    --footer-link-color: rgba(255, 255, 255, 0.6);
    --portfolio-header-line: 1px solid #ececec;
    --portfolio-border-item: 1px solid #eeeeee;
    --hero-overlay: rgba(47, 48, 58, 0.4);
    --wwd-bgc-text: rgba(47, 48, 58, 0.8);
    --primery-icons-color: #AFB1B8;
    --footer-social-bgc: rgba(255, 255, 255, 0.1);
    --overlay-porfolio-bgc: rgba(33, 150, 243, 0.9);
    --backdrop: rgba(0, 0, 0, 0.2);
    --modal-input-border: 1px solid rgba(33, 33, 33, 0.2)
  }